# Controller Node 2

# Cluster ID
CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# Node Identity
KAFKA_NODE_ID=2
KAFKA_PROCESS_ROLES=controller

# Listener Configuration
KAFKA_LISTENERS=CONTROLLER://controller2:29093
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT
KAFKA_CONTROLLER_QUORUM_VOTERS=1@controller1:29093,2@controller2:29093,3@controller3:29093

# Log and heap
KAFKA_LOG_DIRS=/var/lib/kafka/controller-data
KAFKA_HEAP_OPTS="-Xms1024M -Xmx1024M"