# Kafka configuration
KAFKA_BOOTSTRAP_SERVERS=broker:29092

# MQTT configuration
MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_SECURE=false
MQTT_CLIENT_ID_PREFIX={{ SCHEMA_NAME }}-{{ MACHINE_ID }}
MQTT_QOS=2
MQTT_TOPIC_STRING=$share/{{ SCHEMA_NAME }}-{{ MACHINE_ID }}/machines/{{ SCHEMA_NAME }}/{{ MACHINE_ID }}/data